@font-face {
  font-family: 'Inter';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url("/assets/fonts/Inter-roman.var.woff2?v=3.19") format("woff2");
}
@font-face {
  font-family: 'Inter';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url("/assets/fonts/Inter-italic.var.woff2?v=3.19") format("woff2");
}

:where(html) {
	--color-blue: #005f73;
	--color-green: #0a9396;
	--color-lightgreen: hsl(160, 41%, 45%);
	--color-yellow: hsl(39, 100%, 40%);
	--color-orange: #bb3e03;
	--color-red: #ae2012;
}

body {
	font-family: 'Inter', ui-sans-serif, system-ui, sans-serif;
	font-size: clamp(1rem, 0.7768rem + 0.7143vw, 1.3125rem);
	font-weight: 400;
	line-height: 1.6;
}

:is(h1, h2) {
	font-size: clamp(2rem, 0.5714rem + 4.5714vw, 4rem);
	font-weight: 900;
	letter-spacing: -0.04em;
	line-height: 1.2;
	margin-block-end: .125em;
}

:is(h1, h2)::before {
	border-inline-start: .25em solid currentColor;
	content: "";
	margin-inline-end: .25em;
}

figure {
	display: grid;
	justify-content: center;
	margin: 0;
	position: relative;
}

figure::after {
	aspect-ratio: 1 / 1;
	background-color: currentColor;
	border-radius: 50%;
	content: "";
	inline-size: 2rem;
	position: relative;
	transform: translate(-.25em, -3.5em);
	z-index: -1;
}

figcaption, footer {
	color: initial;
	font-size: 0.875em;
	margin-block: 1ch;
	text-align: center;
}

footer {
	border-block-start: 1px dotted hsl(0, 0%, 75%);
}

main {
	display: grid;
	margin: 1.5ch auto;
	max-inline-size: 1000px;
	padding: 0 1.5ch;
}

/* Colors */
.blue { color: var(--color-blue); }
.green { color: var(--color-green); }
.lightgreen { color: var(--color-lightgreen); }
.yellow { color: var(--color-yellow); }
.orange { color: var(--color-orange); }
.red { color: var(--color-red); }

.avatar {
	aspect-ratio: 1 / 1;
	border: 1px solid currentColor;
	border-radius: 50%;
	inline-size: 10rem;
}

.avatar-icon {
	aspect-ratio: 1 / 1;
	border: 1px solid currentColor;
	border-radius: 50%;
	inline-size: 10rem;
	padding: 1em;
}

.logo {
	inline-size: clamp(14rem, 4rem + 32vw, 28rem);
	margin-block-end: 1em;
	place-self: center;
}

.row {
	justify-content: center;
	display: grid;
	gap: 1.5ch;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
